#container {
    max-width: 940px;
    font-size: 14px;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
}

#columns {
    padding: 20px 30px;
    display: flex;
}

div.unit-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 22px;
}

h3 {
    margin: 0;
    font-weight: 500;
    font-weight: bold;
    margin-bottom: 2px;
}

h3.title {
    text-shadow: 0.5px 0 black;
    letter-spacing: 0.5px;
    margin-bottom: 3px;
}

h2 {
    margin: 0;
    font-size: 18px;
    letter-spacing: 2px;
    color: #313c4e;
    text-shadow: 1.5px 0 #313c4e;
}

.sub-container {
    margin: 0;
    padding-left: 10px;
}