#container {
    max-width: 880px;
    font-size: 14px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
}

#columns {
    padding: 20px 30px;
    display: flex;
}

div.unit-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

div.duration-and-city-ctr {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

h3 {
    margin: 0;
}

h3.title {
    text-shadow: 0.5px 0 black;
    letter-spacing: 0.5px;
    margin-bottom: 3px;
}

h2 {
    margin: 0;
    font-size: 18px;
    letter-spacing: 2px;
    color: #313c4e;
    text-shadow: 1.5px 0 #313c4e;
}