#contacts-ctr {
    padding: 20px 30px 10px 30px;
    background-color: #313c4e;
    color: white;
    letter-spacing: 0.5px;
}

#contacts-ctr p {
    display: inline-block;
    width: 50%;
    margin: 0;
    margin-bottom: 10px;
}

#contacts-ctr p a {
    color: white;
    text-decoration: none;
}